@import 'variables.scss';

.feedArea {
  &Item {
    margin-bottom: 30px;
    border-bottom: 2px dashed $red;
    &__link {
      text-decoration: blink;
    }
    &__title {
      font-size: 2vmax;
      color: $red;
      font-weight: bold;
      letter-spacing: 0.1em;
      line-height: 1.75;
    }
  }
}
