@import 'variables.scss';

.tagArea {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
  justify-content: center;
  &Tag {
    margin: 5px;
    background-color: $white;
    border: 1px solid #000;
    border-radius: 10px;
    min-width: 28%;
    &__link {
      text-decoration: none;
    }
    &__inner {
      color: $black;
      display: flex;
      align-items: center;
      font-size: 1.25vmax;
      justify-content: center;
      padding: 4px;
      line-height: 1.75;
      white-space: nowrap;
      word-break: break-all;
    }
    &__text {
      margin-left: 4px;
    }
  }
}
